[Unit]
Description=Aria2c RSS daemon.
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/aria2c-rss
ExecReload=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
