[Unit]
Description=Aria2c and Transmission RSS daemon.
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/at-rss
ExecReload=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
